/*
 * Copyright © 2010, 2013 Tom Worster fsb@thefsb.org.
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation (http://www.gnu.org/licenses/gpl-2.0.html),
 * either version 2 of the License, or (at your option) any later version.
 */

html, body, div, span, h1, h2, h3, p, blockquote, pre, a, em, strong, sub, sup,
ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	}

body {
	padding: 2em 0 4em 2em;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 0.91em;
	}

h1 {
	font-size: 1.3em;
	color: #553718;
	}

h2 {
	font-size: 1.15em;
	color: #553718;
	padding-top: 0.8em;
	}

p.text {
	max-width: 55em;
	margin-top: 0.6em;
	}

hr {
	margin-top: 2em;
	}

#gearsel {
	position: relative;
	width: 800px;
	height: 274px;
	margin: 1em 0 0;
	}

#gearplane {
	position: absolute;
	left: 25px;
	width: 750px;
	height: 274px;
	height: inherit;
	overflow: auto;
	background: #eee;
	}

#gearplane p.hscale {
	position: absolute;
	top: 8px;
	width: 25px;
	padding-bottom: 4px;
	text-align: center;
	font-style: italic;
	background: inherit;
	}

#gearplane p.hscale.bottom {
	top: 235px;
	}

#gearsel div.vscale {
	position: absolute;
	width: 25px;
	height: 274px;
	height: inherit;
	}

#gearsel div.vscale,
#r {
	background: #DFEBF7;
	}

#gearsel div.vscale p {
	position: absolute;
	text-align: center;
	width: 20px;
	font-style: italic;
	}

#gearsel div.vscale.right {
	right: 0;
	}

#gearplane p.box {
	position: absolute;
	border: 1px solid black;
	text-align: center;
	width: 20px;
	height: 20px;
	cursor: pointer;
	}

#gearplane p.box,
#f {
	background: #f7f7e0;
	}

#gearplane p.box.selected {
	background: #ECCF79;
	}

#gearplane div.vline {
	position: absolute;
	border-left: 1px solid white;
	top: 20px;
	width: 0;
	height: 210px;
	}

#gearplane div.line {
	position: absolute;
	border-top: 1px solid black;
	height: 1px;
	}

table {
	border: none;
	border-collapse: collapse;
	}

table.outputs {
	}

#left table.outputs {
	margin-left: 1em;
	}

th {
	text-align: left;
	font-weight: normal;
	}

div.left {
	float: left;
	margin-right: 2em;
	}

#left {
	position: relative;
	width: 300px;
	margin-right: 2em;
	}

#flot {
	clear: both;
	width: inherit;
	height: 300px;
	}

b, .b {
	font-weight: bold;
	color: #444;
	}

td, th {
	padding: 0 1em 0.4em 0;
	}

td.t, span.t, #gearplane p.hscale {
	color: #960;
	}

td.c {
	color: #199900;
	padding-right: 1.5em;
	}

td.k, span.k {
	color: #069;
	}

td.m, span.m {
	color: #7f0099;
	}

td.m {
	padding-right: 3em;
	}

#times {
	position: relative;
	height: 20em;
	overflow: scroll;
	}

#cstblock, #tcsblock {
	position: relative;
	overflow: auto;
	}

span.nrows {
	font-size: 91%;
	font-weight: normal;
	color: black;
	}

span.nrows.cst {
	}

span.nrows.tcs {
	padding-left: 1.5em;
	}

#chain_table {
	border-collapse: collapse;
	}

#chain_table td,
#chain_table th {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	}

#chain_table td.f {
	padding-right: 0.2em;
	}

#chain_table td.v {
	padding: 0.3em 0.6em 0;
	border: 2px solid white;
	}

#chain_table p {
	text-align: center;
	line-height: 1.5em;
	}

#chain_table p.i {
	margin-top: 0;
	font-weight: bold;
	}

#chain_table p.n span {
	text-align: center;
	padding: 0;
	width: 1.5em;
	display: inline-block;
	}

#chain_table div.s {
	width: 3em;
	height: 0.5em;
	border: 1px solid black;
	background-color: white;
	}

#chain_table div.s div {
	height: 100%;
	border-right: 2px solid blue;
	background-color: transparent;
	}

footer {
	margin-top: 3em;
	}